Repository microsoft/MLOS: changes, and which pre-commit hooks are due for each by the changed paths.
All: pycodestyle, pylint, mypy

pycodestyle:
  name: pycodestyle
  entry: pycodestyle
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system
  require_serial: true
  args:
  - -j0
  - --rcfile=pyproject.toml
  - -rn
  - -sn

mypy:
  name: mypy
  entry: mypy
  language: system
  require_serial: true

Don't allow numpy 2.0 yet - SMAC3 still has issues
  mlos_core/setup.py
Due: pycodestyle, pylint

Fix dtype casting issue with numpy in LlamaTune adapter (#945)
  mlos_core/mlos_core/spaces/adapters/llamatune.py
  mlos_viz/mlos_viz/base.py
Due: pycodestyle, pylint, mypy

Initial changes
  mlos_bench/mlos_bench/mlos_benchd.py
  mlos_bench/mlos_bench/storage/base_storage.py
  mlos_bench/mlos_bench/storage/sql/experiment.py
  mlos_bench/mlos_bench/storage/sql/storage.py
Due: pycodestyle, pylint, mypy

Update cli args
  mlos_bench/mlos_bench/mlos_benchd.py
Due: pycodestyle, pylint, mypy

Add 503 status code to retry
  mlos_bench/mlos_bench/services/remote/azure/azure_deployment_services.py
Due: pycodestyle, pylint, mypy

Azure retry on result timeout / server busy (#950)
  mlos_bench/mlos_bench/services/remote/azure/azure_deployment_services.py
Due: pycodestyle, pylint, mypy

Add a pre-commit badge
  README.md
Due: none

pre-commit updates
  .pre-commit-config.yaml
Due: none

update other version
  conda-envs/mlos.yml
Due: none

sync across conda envs
  conda-envs/mlos-3.10.yml
  conda-envs/mlos-3.11.yml
  conda-envs/mlos-3.12.yml
  conda-envs/mlos-3.13.yml
  conda-envs/mlos-windows.yml
Due: none

enable lint/format checks for default python conda env
  .github/workflows/linux.yml
Due: none

mdformat fixups
  mlos_core/mlos_core/spaces/adapters/README.md
Due: none

pylint recommendations
  mlos_bench/mlos_bench/services/config_persistence.py
Due: pycodestyle, pylint, mypy

mark mdformat as a formatter
  .pre-commit-config.yaml
Due: none

mark mdformat as a formatter
  Makefile
Due: none

Fixups for recent changes in sphinx dependencies (which we also document)
  doc/requirements.txt
  doc/source/conf.py
  mlos_bench/mlos_bench/tunables/tunable_types.py
Due: pycodestyle, pylint, mypy

ignore module name
  mlos_bench/mlos_bench/storage/sql/alembic/versions/8928a401115b_adding_experiment_table_columns_to_.py
Due: pycodestyle, pylint, mypy

Fixups for recent changes in sphinx dependencies (#954)
  doc/requirements.txt
  doc/source/conf.py
  mlos_bench/mlos_bench/tunables/tunable_types.py
Due: pycodestyle, pylint, mypy

Path conditions:
  pycodestyle: any of: \.py$
  pylint: any of: \.py$, but not: (?x)^(
    doc/source/conf.py
)$

  mypy: any of: \.py$, but not: (?x)^(
    doc/source/conf.py|
    mlos_core/setup.py|
    mlos_bench/setup.py|
    mlos_viz/setup.py|
    conftest.py
)$

