Repository microsoft/MLOS: changes, and which pre-commit hooks are due for each by the changed paths.
All: pycodestyle, pylint, mypy

pycodestyle:
  name: pycodestyle
  entry: pycodestyle
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system
  require_serial: true
  args:
  - -j0
  - --rcfile=pyproject.toml
  - -rn
  - -sn

mypy:
  name: mypy
  entry: mypy
  language: system
  require_serial: true

doc string tweaks
  mlos_bench/mlos_bench/environments/status.py
Due: pycodestyle, pylint, mypy

address pyproject deprecation warnings
  mlos_bench/pyproject.toml
  mlos_core/pyproject.toml
  mlos_viz/pyproject.toml
Due: none

include license files
  mlos_bench/MANIFEST.in
  mlos_core/MANIFEST.in
  mlos_viz/MANIFEST.in
Due: none

Revert "include license files"
  mlos_bench/MANIFEST.in
  mlos_core/MANIFEST.in
  mlos_viz/MANIFEST.in
Due: none

remove license files inclusion
  mlos_bench/pyproject.toml
  mlos_core/pyproject.toml
  mlos_viz/pyproject.toml
Due: none

address more setuptools deprecations
  mlos_bench/pyproject.toml
  mlos_bench/setup.py
  mlos_core/pyproject.toml
  mlos_core/setup.py
  mlos_viz/pyproject.toml
  mlos_viz/setup.py
Due: pycodestyle, pylint

upgrade pyright
  conda-envs/mlos-3.10.yml
  conda-envs/mlos-3.11.yml
  conda-envs/mlos-3.12.yml
  conda-envs/mlos-3.13.yml
  conda-envs/mlos-windows.yml
  conda-envs/mlos.yml
Due: none

upgrade versions
  conda-envs/mlos-3.10.yml
  conda-envs/mlos-3.11.yml
  conda-envs/mlos-3.12.yml
  conda-envs/mlos-3.13.yml
  conda-envs/mlos-windows.yml
  conda-envs/mlos.yml
Due: none

precommit updates
  .pre-commit-config.yaml
Due: none

ignore some pylint warnings
  mlos_bench/mlos_bench/schedulers/base_scheduler.py
  mlos_bench/mlos_bench/tests/storage/trial_schedule_test.py
Due: pycodestyle, pylint, mypy

Start introducing MockScheduler for better Scheduler testing
  mlos_bench/mlos_bench/config/schemas/schedulers/base-scheduler-subschema.json
  mlos_bench/mlos_bench/config/schemas/schedulers/mock-scheduler-subschema.json
  mlos_bench/mlos_bench/config/schemas/schedulers/scheduler-schema.json
  mlos_bench/mlos_bench/config/schemas/schedulers/sync-scheduler-subschema.json
  mlos_bench/mlos_bench/tests/config/schedulers/test_load_scheduler_config_examples.py
  mlos_bench/mlos_bench/tests/schedulers/__init__.py
  mlos_bench/mlos_bench/tests/schedulers/conftest.py
  mlos_bench/mlos_bench/tests/schedulers/mock_scheduler.py
Due: pycodestyle, pylint, mypy

fixup scheduler schemas refactor
  mlos_bench/mlos_bench/config/schemas/schedulers/mock-scheduler-subschema.json
  mlos_bench/mlos_bench/config/schemas/schedulers/scheduler-schema.json
  mlos_bench/mlos_bench/config/schemas/schedulers/sync-scheduler-subschema.json
Due: none

reorg optimizer fixtures for reuse
  mlos_bench/mlos_bench/tests/optimizers/conftest.py
  mlos_bench/mlos_bench/tests/optimizers/fixtures.py
Due: pycodestyle, pylint, mypy

reorg files based storage fixture
  mlos_bench/mlos_bench/tests/storage/conftest.py
  mlos_bench/mlos_bench/tests/storage/sql/fixtures.py
  mlos_bench/mlos_bench/tests/storage/test_storage_pickling.py
Due: pycodestyle, pylint, mypy

adding basic scheduler config example loader test
  mlos_bench/mlos_bench/tests/config/schedulers/conftest.py
  mlos_bench/mlos_bench/tests/config/schedulers/test_load_scheduler_config_examples.py
Due: pycodestyle, pylint, mypy

Refactor Scheduler schema definitions to make it easier to add new ones.
  mlos_bench/mlos_bench/config/schemas/schedulers/base-scheduler-subschema.json
  mlos_bench/mlos_bench/config/schemas/schedulers/scheduler-schema.json
  mlos_bench/mlos_bench/config/schemas/schedulers/sync-scheduler-subschema.json
Due: none

requires up to date setuptools
  .devcontainer/Dockerfile
  .devcontainer/scripts/common/prep-deps-files.sh
  mlos_bench/pyproject.toml
  mlos_core/pyproject.toml
  mlos_viz/pyproject.toml
Due: none

Refactor some test fixtures for better reuse so we can test loading Scheduler config examples.
  mlos_bench/mlos_bench/tests/config/schedulers/__init__.py
  mlos_bench/mlos_bench/tests/config/schedulers/conftest.py
  mlos_bench/mlos_bench/tests/config/schedulers/test_load_scheduler_config_examples.py
  mlos_bench/mlos_bench/tests/optimizers/conftest.py
  mlos_bench/mlos_bench/tests/optimizers/fixtures.py
  mlos_bench/mlos_bench/tests/storage/conftest.py
  mlos_bench/mlos_bench/tests/storage/sql/fixtures.py
  mlos_bench/mlos_bench/tests/storage/test_storage_pickling.py
Due: pycodestyle, pylint, mypy

fixup
  mlos_bench/mlos_bench/config/schemas/schedulers/scheduler-schema.json
Due: none

lint
  mlos_bench/mlos_bench/tests/config/schedulers/conftest.py
  mlos_bench/mlos_bench/tests/config/schedulers/test_load_scheduler_config_examples.py
Due: pycodestyle, pylint, mypy

apply suggestions
  mlos_bench/mlos_bench/tests/storage/sql/fixtures.py
Due: pycodestyle, pylint, mypy

revert
  mlos_bench/mlos_bench/tests/storage/sql/fixtures.py
Due: pycodestyle, pylint, mypy

load test configs too
  mlos_bench/mlos_bench/tests/config/environments/test_load_environment_config_examples.py
  mlos_bench/mlos_bench/tests/config/experiments/experiment_test_config.jsonc
  mlos_bench/mlos_bench/tests/config/optimizers/test_load_optimizer_config_examples.py
  mlos_bench/mlos_bench/tests/config/schedulers/test_load_scheduler_config_examples.py
  mlos_bench/mlos_bench/tests/config/services/test_load_service_config_examples.py
  mlos_bench/mlos_bench/tests/config/storage/test_load_storage_config_examples.py
Due: pycodestyle, pylint, mypy

format
  mlos_bench/mlos_bench/tests/config/environments/test_load_environment_config_examples.py
  mlos_bench/mlos_bench/tests/config/optimizers/test_load_optimizer_config_examples.py
  mlos_bench/mlos_bench/tests/config/schedulers/test_load_scheduler_config_examples.py
  mlos_bench/mlos_bench/tests/config/services/test_load_service_config_examples.py
  mlos_bench/mlos_bench/tests/config/storage/test_load_storage_config_examples.py
Due: pycodestyle, pylint, mypy

CI Maintenance (#978)
  .devcontainer/Dockerfile
  .devcontainer/scripts/common/prep-deps-files.sh
  .pre-commit-config.yaml
  conda-envs/mlos-3.10.yml
  conda-envs/mlos-3.11.yml
  conda-envs/mlos-3.12.yml
  conda-envs/mlos-3.13.yml
  conda-envs/mlos-windows.yml
  conda-envs/mlos.yml
  mlos_bench/mlos_bench/schedulers/base_scheduler.py
  mlos_bench/mlos_bench/tests/storage/trial_schedule_test.py
  mlos_bench/pyproject.toml
  mlos_bench/setup.py
  mlos_core/pyproject.toml
  mlos_core/setup.py
  mlos_viz/pyproject.toml
  mlos_viz/setup.py
Due: pycodestyle, pylint, mypy

list in __all__ so we load it as a part of tests schemas checking
  mlos_bench/mlos_bench/tests/schedulers/__init__.py
Due: pycodestyle, pylint, mypy

new mock scheduler schema and test configs
  mlos_bench/mlos_bench/config/schemas/schedulers/base-scheduler-subschema.json
  mlos_bench/mlos_bench/config/schemas/schedulers/mock-scheduler-subschema.json
  mlos_bench/mlos_bench/tests/config/schemas/schedulers/test-cases/bad/invalid/mock-scheduler-invalid-mock-trial-data-2.jsonc
  mlos_bench/mlos_bench/tests/config/schemas/schedulers/test-cases/bad/invalid/mock-scheduler-invalid-mock-trial-data.jsonc
  mlos_bench/mlos_bench/tests/config/schemas/schedulers/test-cases/bad/unhandled/mock_sched-extra.jsonc
  mlos_bench/mlos_bench/tests/config/schemas/schedulers/test-cases/good/full/mock_sched-full.jsonc
  mlos_bench/mlos_bench/tests/config/schemas/schedulers/test-cases/good/partial/mock_sched-partial.jsonc
Due: none

fixup
  mlos_bench/mlos_bench/tests/storage/sql/fixtures.py
Due: pycodestyle, pylint, mypy

Refactor Scheduler schema definitions to make it easier to add new ones. (#979)
  mlos_bench/mlos_bench/config/schemas/schedulers/base-scheduler-subschema.json
  mlos_bench/mlos_bench/config/schemas/schedulers/scheduler-schema.json
  mlos_bench/mlos_bench/config/schemas/schedulers/sync-scheduler-subschema.json
Due: none

refactor to split steps for easier hooking
  mlos_bench/mlos_bench/schedulers/base_scheduler.py
Due: pycodestyle, pylint, mypy

fixup again
  mlos_bench/mlos_bench/tests/config/schedulers/test_load_scheduler_config_examples.py
  mlos_bench/mlos_bench/tests/storage/sql/fixtures.py
Due: pycodestyle, pylint, mypy

Refactor some test fixtures for better reuse so we can test loading Scheduler config examples (#981)
  mlos_bench/mlos_bench/tests/config/environments/test_load_environment_config_examples.py
  mlos_bench/mlos_bench/tests/config/experiments/experiment_test_config.jsonc
  mlos_bench/mlos_bench/tests/config/optimizers/test_load_optimizer_config_examples.py
  mlos_bench/mlos_bench/tests/config/schedulers/__init__.py
  mlos_bench/mlos_bench/tests/config/schedulers/conftest.py
  mlos_bench/mlos_bench/tests/config/schedulers/test_load_scheduler_config_examples.py
  mlos_bench/mlos_bench/tests/config/services/test_load_service_config_examples.py
  mlos_bench/mlos_bench/tests/config/storage/test_load_storage_config_examples.py
  mlos_bench/mlos_bench/tests/optimizers/conftest.py
  mlos_bench/mlos_bench/tests/optimizers/fixtures.py
  mlos_bench/mlos_bench/tests/storage/conftest.py
  mlos_bench/mlos_bench/tests/storage/sql/fixtures.py
  mlos_bench/mlos_bench/tests/storage/test_storage_pickling.py
Due: pycodestyle, pylint, mypy

Update mlos_bench/mlos_bench/tests/config/schedulers/test_load_scheduler_config_examples.py
  mlos_bench/mlos_bench/tests/config/schedulers/test_load_scheduler_config_examples.py
Due: pycodestyle, pylint, mypy

fixup
  mlos_bench/mlos_bench/tests/schedulers/mock_scheduler.py
Due: pycodestyle, pylint, mypy

ignore the build tree in vscode
  .vscode/settings.json
Due: none

Path conditions:
  pycodestyle: any of: \.py$
  pylint: any of: \.py$, but not: (?x)^(
    doc/source/conf.py
)$

  mypy: any of: \.py$, but not: (?x)^(
    doc/source/conf.py|
    mlos_core/setup.py|
    mlos_bench/setup.py|
    mlos_viz/setup.py|
    conftest.py
)$

