Repository microsoft/MLOS: changes, and which pre-commit hooks are due for each by the changed paths.
All: pycodestyle, pylint, mypy

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_stages: [pre-commit]

repos:
#
# Formatting
#
# NOTE: checks that adjust files are marked with the special "manual" stage
# and "require_serial" so that we can easily call them via `make`
#
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: check-added-large-files
    -   id: check-executables-have-shebangs
    -   id: check-merge-conflict
    -   id: check-toml
    -   id: check-yaml
    -   id: end-of-file-fixer
        require_serial: true
        stages: [pre-commit, manual]
    # TODO:
    #-   id: pretty-format-json
    #    args: [--autofix, --no-sort-keys]
    #    require_serial: true
    #    stages: [pre-commit, manual]
    -   id: trailing-whitespace
        require_serial: true
        stages: [pre-commit, manual]
-   repo: https://github.com/johann-petrak/licenseheaders
    rev: v0.8.8
    hooks:
    -   id: licenseheaders
        files: '\.(sh|cmd|ps1|sql|py)$'
        args: [-t, doc/mit-license.tmpl, -E, .py, .sh, .ps1, .sql, .cmd, -x, mlos_bench/setup.py, mlos_core/setup.py, mlos_viz/setup.py]
        require_serial: true
        stages: [pre-commit, manual]
-   repo: https://github.com/asottile/pyupgrade
    rev: v3.19.1
    hooks:
    -   id: pyupgrade
        args: [--py310-plus]
        require_serial: true
        stages: [pre-commit, manual]
-   repo: https://github.com/PyCQA/isort
    rev: 5.13.2
    hooks:
    -   id: isort
        require_serial: true
        stages: [pre-commit, manual]
-   repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
    -   id: black
        require_serial: true
        stages: [pre-commit, manual]
-   repo: https://github.com/PyCQA/docformatter
    rev: 06907d0 # v1.7.5
    hooks:
    -   id: docformatter
        require_serial: true
        stages: [pre-commit, manual]
#
# Linting
#
-   repo: https://github.com/PyCQA/pydocstyle
    rev: 6.3.0
    hooks:
    - id: pydocstyle
      types: [python]
# Use pylint and mypy from the local (conda) environment so that vscode can reuse them too.
-   repo: local
    hooks:
    -   id: pycodestyle
        name: pycodestyle
        entry: pycodestyle
        language: system
        types: [python]
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args: [
          "-j0",
          "--rcfile=pyproject.toml",
          "-rn", # Only display messages
          "-sn", # Don't display the score
        ]
        exclude: |
            (?x)^(
                doc/source/conf.py
            )$
    -   id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        exclude: |
            (?x)^(
                doc/source/conf.py|
                mlos_core/setup.py|
                mlos_bench/setup.py|
                mlos_viz/setup.py|
                conftest.py
            )$
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes

fixups
  mlos_bench/mlos_bench/launcher.py
  mlos_bench/mlos_bench/storage/sql/alembic.ini
Due: pycodestyle, pylint, mypy

lint
  mlos_bench/mlos_bench/storage/sql/alembic/env.py
Due: pycodestyle, pylint, mypy

Remove use of yq (#908)
  Makefile
  conda-envs/mlos-3.10.yml
  conda-envs/mlos-3.11.yml
  conda-envs/mlos-3.12.yml
  conda-envs/mlos-3.13.yml
  conda-envs/mlos-windows.yml
  conda-envs/mlos.yml
Due: none

fixps
  mlos_bench/mlos_bench/storage/sql/storage.py
Due: pycodestyle, pylint, mypy

fixups
  setup.cfg
Due: none

stop overriding our log level
  mlos_bench/mlos_bench/storage/sql/alembic.ini
Due: none

another fixup
  mlos_bench/mlos_bench/storage/sql/alembic.ini
Due: none

fixups
  mlos_bench/mlos_bench/storage/sql/alembic/versions/d2a708351ba8_add_alembic.py
Due: pycodestyle, pylint, mypy

disable a check in devcontainer
  .pre-commit-config.yaml
Due: none

check for files
  Makefile
  mlos_bench/pyproject.toml
Due: none

fixups
  Makefile
  mlos_bench/pyproject.toml
Due: none

fixups
  mlos_bench/mlos_bench/launcher.py
  mlos_bench/mlos_bench/storage/sql/alembic/versions/d2a708351ba8_add_alembic.py
Due: pycodestyle, pylint, mypy

missing package for pylint
  conda-envs/mlos-3.10.yml
  conda-envs/mlos-3.11.yml
  conda-envs/mlos-3.12.yml
  conda-envs/mlos-3.13.yml
  conda-envs/mlos-windows.yml
  conda-envs/mlos.yml
Due: none

add that revision to the blame ignore list
  .git-blame-ignore-revs
Due: none

doc fixups
  doc/source/conf.py
  mlos_bench/mlos_bench/storage/sql/schema.py
Due: pycodestyle, pylint, mypy

fixups
  mlos_bench/mlos_bench/storage/sql/schema.py
Due: pycodestyle, pylint, mypy

fixup links
  mlos_bench/mlos_bench/storage/sql/schema.py
Due: pycodestyle, pylint, mypy

improved links
  mlos_bench/mlos_bench/storage/sql/schema.py
Due: pycodestyle, pylint, mypy

more docstring fixes
  mlos_bench/mlos_bench/storage/sql/schema.py
Due: pycodestyle, pylint, mypy

Storage schema evolution support (#906)
  .pre-commit-config.yaml
  Makefile
  conda-envs/mlos-3.10.yml
  conda-envs/mlos-3.11.yml
  conda-envs/mlos-3.12.yml
  conda-envs/mlos-3.13.yml
  conda-envs/mlos-windows.yml
  conda-envs/mlos.yml
  doc/source/conf.py
  mlos_bench/mlos_bench/launcher.py
  mlos_bench/mlos_bench/storage/base_storage.py
  mlos_bench/mlos_bench/storage/sql/alembic.ini
  mlos_bench/mlos_bench/storage/sql/alembic/README.md
  mlos_bench/mlos_bench/storage/sql/alembic/env.py
  mlos_bench/mlos_bench/storage/sql/alembic/script.py.mako
  mlos_bench/mlos_bench/storage/sql/alembic/versions/d2a708351ba8_add_alembic.py
  mlos_bench/mlos_bench/storage/sql/schema.py
  mlos_bench/mlos_bench/storage/sql/storage.py
  mlos_bench/pyproject.toml
  mlos_bench/setup.py
  setup.cfg
Due: pycodestyle, pylint, mypy

Revert "move those changes to a new PR"
  mlos_bench/mlos_bench/storage/sql/alembic/versions/f83fb8ae7fc4_add_trial_runner_id_column.py
  mlos_bench/mlos_bench/storage/sql/schema.py
Due: pycodestyle, pylint, mypy

fixps
  mlos_bench/mlos_bench/storage/sql/alembic/versions/f83fb8ae7fc4_add_trial_runner_id_column.py
Due: pycodestyle, pylint, mypy

minor improvements to the revision script template to avoid some fixups in the future
  mlos_bench/mlos_bench/storage/sql/alembic/script.py.mako
Due: none

add some checks to make sure we 'stamp' schemas on first create
  mlos_bench/mlos_bench/storage/sql/schema.py
Due: pycodestyle, pylint, mypy

fixup
  mlos_bench/mlos_bench/storage/sql/schema.py
Due: pycodestyle, pylint, mypy

update comment
  mlos_bench/mlos_bench/storage/sql/schema.py
Due: pycodestyle, pylint, mypy

style tweaks
  mlos_bench/mlos_bench/schedulers/trial_runner.py
  mlos_bench/mlos_bench/tests/launcher_parse_args_test.py
Due: pycodestyle, pylint, mypy

black
  mlos_bench/mlos_bench/storage/sql/schema.py
Due: pycodestyle, pylint, mypy

fixup logging overrides
  mlos_bench/mlos_bench/storage/sql/alembic.ini
  mlos_bench/mlos_bench/storage/sql/alembic/env.py
Due: pycodestyle, pylint, mypy

add tests
  mlos_bench/mlos_bench/storage/sql/alembic/README.md
  mlos_bench/mlos_bench/tests/storage/test_storage_schemas.py
Due: pycodestyle, pylint, mypy

speed improvement on licenseheaders pre-commit partial files run
  .pre-commit-config.yaml
Due: none

isort
  mlos_bench/mlos_bench/storage/sql/alembic/env.py
Due: pycodestyle, pylint, mypy

speed improvement on licenseheaders pre-commit partial files run (#911)
  .pre-commit-config.yaml
Due: none

spelling
  mlos_bench/mlos_bench/__init__.py
Due: pycodestyle, pylint, mypy

tweaks
  doc/source/conf.py
Due: pycodestyle

syntax
  mlos_bench/mlos_bench/tests/storage/sql/fixtures.py
Due: pycodestyle, pylint, mypy

additional test for default NULL column value
  mlos_bench/mlos_bench/storage/sql/alembic/versions/f83fb8ae7fc4_add_trial_runner_id_column.py
  mlos_bench/mlos_bench/storage/sql/schema.py
  mlos_bench/mlos_bench/tests/storage/test_storage_schemas.py
Due: pycodestyle, pylint, mypy

Minor tweaks to the revision script template to avoid some future linting fixups (#910)
  mlos_bench/mlos_bench/storage/sql/alembic/script.py.mako
Due: none
