Repository microsoft/MLOS: changes, and which pre-commit hooks are due for each by the changed paths.
All: pycodestyle, pylint, mypy

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_stages: [pre-commit]

repos:
#
# Formatting
#
# NOTE: checks that adjust files are marked with the special "manual" stage
# and "require_serial" so that we can easily call them via `make`
#
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: check-added-large-files
    -   id: check-executables-have-shebangs
    -   id: check-merge-conflict
    -   id: check-toml
    -   id: check-yaml
    -   id: end-of-file-fixer
        require_serial: true
        stages: [pre-commit, manual]
    # TODO:
    #-   id: pretty-format-json
    #    args: [--autofix, --no-sort-keys]
    #    require_serial: true
    #    stages: [pre-commit, manual]
    -   id: trailing-whitespace
        require_serial: true
        stages: [pre-commit, manual]
-   repo: https://github.com/johann-petrak/licenseheaders
    rev: v0.8.8
    hooks:
    -   id: licenseheaders
        files: '\.(sh|cmd|ps1|sql|py)$'
        args: [-t, doc/mit-license.tmpl, -E, .py, .sh, .ps1, .sql, .cmd, -x, mlos_bench/setup.py, mlos_core/setup.py, mlos_viz/setup.py]
        require_serial: true
        stages: [pre-commit, manual]
-   repo: https://github.com/asottile/pyupgrade
    rev: v3.19.1
    hooks:
    -   id: pyupgrade
        args: [--py310-plus]
        require_serial: true
        stages: [pre-commit, manual]
-   repo: https://github.com/PyCQA/isort
    rev: 5.13.2
    hooks:
    -   id: isort
        require_serial: true
        stages: [pre-commit, manual]
-   repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
    -   id: black
        require_serial: true
        stages: [pre-commit, manual]
-   repo: https://github.com/PyCQA/docformatter
    rev: 06907d0 # v1.7.5
    hooks:
    -   id: docformatter
        require_serial: true
        stages: [pre-commit, manual]
#
# Linting
#
-   repo: https://github.com/PyCQA/pydocstyle
    rev: 6.3.0
    hooks:
    - id: pydocstyle
      types: [python]
# Use pylint and mypy from the local (conda) environment so that vscode can reuse them too.
-   repo: local
    hooks:
    -   id: pycodestyle
        name: pycodestyle
        entry: pycodestyle
        language: system
        types: [python]
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args: [
          "-j0",
          "--rcfile=pyproject.toml",
          "-rn", # Only display messages
          "-sn", # Don't display the score
        ]
        exclude: |
            (?x)^(
                doc/source/conf.py
            )$
    -   id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        exclude: |
            (?x)^(
                doc/source/conf.py|
                mlos_core/setup.py|
                mlos_bench/setup.py|
                mlos_viz/setup.py|
                conftest.py
            )$
-   repo: meta
    hooks:
    -   id: check-hooks-apply
    -   id: check-useless-excludes

fixup
  mlos_bench/mlos_bench/launcher.py
Due: pycodestyle, pylint, mypy

test fixups
  mlos_bench/mlos_bench/environments/base_environment.py
  mlos_bench/mlos_bench/tests/__init__.py
  mlos_bench/mlos_bench/tests/environments/composite_env_test.py
  mlos_bench/mlos_bench/tests/environments/include_tunables_test.py
Due: pycodestyle, pylint, mypy

run a few extra trials to allow dabl to be able to autocorrelate
  mlos_bench/mlos_bench/tests/storage/sql/fixtures.py
Due: pycodestyle, pylint, mypy

tweaks for dabl
  mlos_bench/mlos_bench/tests/storage/__init__.py
  mlos_bench/mlos_bench/tests/storage/exp_data_test.py
  mlos_bench/mlos_bench/tests/storage/sql/fixtures.py
Due: pycodestyle, pylint, mypy

increase max_trials to account for trial_runner increase
  mlos_core/mlos_core/optimizers/bayesian_optimizers/smac_optimizer.py
Due: pycodestyle, pylint, mypy

different fix
  mlos_bench/mlos_bench/tests/storage/sql/fixtures.py
  mlos_core/mlos_core/optimizers/bayesian_optimizers/smac_optimizer.py
Due: pycodestyle, pylint, mypy

use named constants instead of string literals when serializing Status values for storage
  mlos_bench/mlos_bench/storage/sql/experiment.py
  mlos_bench/mlos_bench/storage/sql/trial.py
Due: pycodestyle, pylint, mypy

Update mlos_bench/mlos_bench/tests/storage/trial_config_test.py
  mlos_bench/mlos_bench/tests/storage/trial_config_test.py
Due: pycodestyle, pylint, mypy

Update mlos_bench/mlos_bench/environments/base_environment.py
  mlos_bench/mlos_bench/environments/base_environment.py
Due: pycodestyle, pylint, mypy

isort
  mlos_bench/mlos_bench/tests/storage/exp_data_test.py
  mlos_bench/mlos_bench/tests/storage/sql/fixtures.py
Due: pycodestyle, pylint, mypy

apply suggestions
  mlos_bench/mlos_bench/environments/base_environment.py
Due: pycodestyle, pylint, mypy

Remove + operators from multiline string concats
  mlos_bench/mlos_bench/launcher.py
  mlos_bench/mlos_bench/tests/launcher_parse_args_test.py
  mlos_bench/mlos_bench/tests/launcher_run_test.py
  mlos_core/mlos_core/optimizers/bayesian_optimizers/smac_optimizer.py
Due: pycodestyle, pylint, mypy

Allow creating Trial with PENDING status to match Storage backend
  mlos_bench/mlos_bench/storage/base_storage.py
  mlos_bench/mlos_bench/storage/sql/experiment.py
  mlos_bench/mlos_bench/storage/sql/trial.py
Due: pycodestyle, pylint, mypy

Introduce TrialRunner Abstraction (#720)
  conftest.py
  doc/source/conf.py
  mlos_bench/mlos_bench/config/schemas/cli/cli-schema.json
  mlos_bench/mlos_bench/environments/base_environment.py
  mlos_bench/mlos_bench/launcher.py
  mlos_bench/mlos_bench/schedulers/base_scheduler.py
  mlos_bench/mlos_bench/schedulers/sync_scheduler.py
  mlos_bench/mlos_bench/schedulers/trial_runner.py
  mlos_bench/mlos_bench/services/config_persistence.py
  mlos_bench/mlos_bench/services/types/config_loader_type.py
  mlos_bench/mlos_bench/storage/__init__.py
  mlos_bench/mlos_bench/storage/base_storage.py
  mlos_bench/mlos_bench/storage/base_trial_data.py
  mlos_bench/mlos_bench/storage/sql/common.py
  mlos_bench/mlos_bench/storage/sql/experiment.py
  mlos_bench/mlos_bench/storage/sql/schema.py
  mlos_bench/mlos_bench/storage/sql/trial.py
  mlos_bench/mlos_bench/storage/sql/trial_data.py
  mlos_bench/mlos_bench/tests/__init__.py
  mlos_bench/mlos_bench/tests/config/cli/test-cli-config.jsonc
  mlos_bench/mlos_bench/tests/config/cli/test_load_cli_config_examples.py
  mlos_bench/mlos_bench/tests/config/schemas/cli/test-cases/bad/invalid/min-trial-runners-count.jsonc
  mlos_bench/mlos_bench/tests/config/schemas/cli/test-cases/good/full/full-cli.jsonc
  mlos_bench/mlos_bench/tests/environments/composite_env_test.py
  mlos_bench/mlos_bench/tests/environments/include_tunables_test.py
  mlos_bench/mlos_bench/tests/launcher_parse_args_test.py
  mlos_bench/mlos_bench/tests/storage/__init__.py
  mlos_bench/mlos_bench/tests/storage/exp_data_test.py
  mlos_bench/mlos_bench/tests/storage/sql/fixtures.py
  mlos_bench/mlos_bench/tests/storage/test_storage_schemas.py
  mlos_bench/mlos_bench/tests/storage/trial_config_test.py
  mlos_bench/mlos_bench/tests/storage/trial_data_test.py
  mlos_bench/mlos_bench/tests/storage/trial_schedule_test.py
Due: pycodestyle, pylint, mypy

Enable test
  mlos_bench/mlos_bench/tests/storage/trial_schedule_test.py
Due: pycodestyle, pylint, mypy

remove FIXME comment
  mlos_bench/mlos_bench/storage/sql/experiment.py
Due: pycodestyle, pylint, mypy

use named constants instead of string literals when serializing Status values for storage (#921)
  mlos_bench/mlos_bench/storage/sql/experiment.py
  mlos_bench/mlos_bench/storage/sql/trial.py
Due: pycodestyle, pylint, mypy

Update flaml. Closes #839
  mlos_core/setup.py
Due: pycodestyle, pylint

Update asyncssh
  mlos_bench/setup.py
Due: pycodestyle, pylint

rebase from 7d3c5fca06
  mlos_bench/mlos_bench/tests/optimizers/conftest.py
  mlos_bench/mlos_bench/tests/optimizers/mock_opt_test.py
  mlos_bench/mlos_bench/tests/optimizers/opt_bulk_register_test.py
  mlos_bench/mlos_bench/tests/storage/exp_load_test.py
  mlos_bench/mlos_bench/tests/tunable_groups_fixtures.py
  mlos_bench/mlos_bench/tests/tunables/tunable_to_configspace_test.py
  mlos_bench/mlos_bench/tests/tunables/tunables_str_test.py
Due: pycodestyle, pylint, mypy

flaml version fixups
  mlos_bench/mlos_bench/tests/optimizers/toy_optimization_loop_test.py
  mlos_core/setup.py
  setup.cfg
Due: pycodestyle, pylint, mypy

mark the version that works
  mlos_bench/setup.py
Due: pycodestyle, pylint

fixup
  mlos_core/setup.py
Due: pycodestyle, pylint

Create Trial with Status that matches Storage backend (#923)
  mlos_bench/mlos_bench/storage/base_storage.py
  mlos_bench/mlos_bench/storage/sql/experiment.py
  mlos_bench/mlos_bench/storage/sql/trial.py
  mlos_bench/mlos_bench/tests/storage/trial_schedule_test.py
Due: pycodestyle, pylint, mypy

Remove + operators from multiline string concats (#922)
  mlos_bench/mlos_bench/tests/launcher_parse_args_test.py
  mlos_bench/mlos_bench/tests/launcher_run_test.py
  mlos_core/mlos_core/optimizers/bayesian_optimizers/smac_optimizer.py
Due: pycodestyle, pylint, mypy

Update asyncssh (#925)
  mlos_bench/setup.py
Due: pycodestyle, pylint

tweaks
  mlos_bench/mlos_bench/tests/optimizers/toy_optimization_loop_test.py
Due: pycodestyle, pylint, mypy

ignore some more warnings
  setup.cfg
Due: none

mdformat
  .github/pull_request_template.md
  .pre-commit-config.yaml
  CONTRIBUTING.md
  MAINTAINING.md
  README.md
  SECURITY.md
  doc/README.md
  mlos_bench/README.md
  mlos_bench/mlos_bench/config/services/remote/azure/scripts/setup-rg/README.md
  mlos_bench/mlos_bench/environments/README.md
  mlos_bench/mlos_bench/services/README.md
  mlos_bench/mlos_bench/services/remote/azure/README.md
  mlos_bench/mlos_bench/storage/README.md
  mlos_bench/mlos_bench/storage/sql/alembic/README.md
  mlos_bench/mlos_bench/tests/services/remote/ssh/README.md
  mlos_core/README.md
Due: none

Fixup to python code format
  mlos_core/mlos_core/spaces/adapters/README.md
Due: none

format
  README.md
Due: none

toc formatter
  .pre-commit-config.yaml
  README.md
  mlos_bench/README.md
Due: none

llamatune doc improvements
  mlos_core/mlos_core/spaces/adapters/llamatune.py
Due: pycodestyle, pylint, mypy

tweak
  mlos_core/mlos_core/spaces/adapters/README.md
Due: none

remove numbers to allow linking to work better in docs
  mlos_bench/README.md
Due: none

fix parsing
  mlos_core/mlos_core/spaces/adapters/README.md
Due: none

Enable pre-commit.ci to automatically submit pre-commit hook update PRs
  .pre-commit-config.yaml
Due: none

spelling
  .pre-commit-config.yaml
Due: none

fixup
  .pre-commit-config.yaml
Due: none
